html, body{
    height: 100%;
    overflow: hidden;
}
body{
    background: url('../bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-table{
    width: 100%;
    height: 100%;
    display: table;
    overflow: hidden;
    background: rgba(31, 37, 61, 0.92);
}
.coming-soon{
    font-family: 'Ubuntu', sans-serif;
    color: #ccc;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 0 15px;
}

.coming-soon h1{
    font-weight: 700;
    text-transform: uppercase;
}

.coming-soon p{
    font-weight: 300;
    font-size: 1.5em;
}

.logo{
    display: block;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    background: url('../ivra-logo.png') no-repeat;
    cursor: pointer;
}

.call-to-action{
    display: block;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.call-to-action form{
    margin-bottom: 10px;
    text-align: center;
}

.call-to-action input{
    display: inline-block;
    background: transparent;
    border: 1px solid #cecece;
    padding: 10px 15px;
}

.call-to-action input[type="email"]{
    width: 340px;
    margin-bottom: 10px;
    text-align:center;
}

.call-to-action input:hover, .call-to-action input:focus{
    border: 1px solid #1C4D96;
    transition: all 0.3s ease-in;
}

.call-to-action input[type="submit"]{
    margin-left: 10px;
    background: transparent;
    border: none;
    border: 1px solid #cecece;
    padding: 10px 15px;
}

.call-to-action input[type="submit"]:hover{
    background: #1C4D96;
    border: 1px solid #1C4D96;
}

.alert{
    max-width:450px;
    margin:auto;
    margin-bottom:10px;
    padding: 10px;
    border-radius:0;
    color: #ccc;
    display:none;
}

.alert-success{
   border-color: #3c763d;
   background-color:  #3c763d;
}

.alert-danger{
 border-color: #a94442;
 background-color: #a94442;
}

@media screen and (max-width: 960px){
    .coming-soon p{
        font-size: 1.3em;
    }
}
@media screen and (max-width: 500px){
    .call-to-action input[type="email"]{
        width: 100%;
    }

    .alert{
    	width:100%;
    }
    
    .coming-soon{
        padding: 0 15px;
    }

    .coming-soon p{
        font-size: 1em;
    }
}