<div class="row widget">
    <div class="col-xs-4">
        <div class="row">
            <div class="user_avatar">
                <img class="img-circle center-block" src="{{add_avatar}}" />
            </div>
        </div>
    </div>
    <div class="col-xs-8">
        <div class="row">
            <div class="widget_name">
                {{add_name}}
            </div>
            <div class="pumk_dodaj">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Dodaj
            </div>
        </div>
    </div>
</div>