{% include 'header_entry.twig' %}
<div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
        <img class="formLogo" src="page_imgs/mini_logo_v2_2.png" alt="logo">
    </div>
</div>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<div class="row regGroup">
		    <div class="col-lg-6">
		        {% include 'login_bootstrap.twig' %}
		    </div>
		    <div class="col-lg-6">
		        {% include 'registration_bootstrap.twig' %}
		    </div>
		</div>
    </div>
</div>
</div>
{% include 'footer_entry.twig' %}
