{# empty Twig template #}
<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{base_url}}/css/bootstrap.min.css" type="text/css"/>
        
		<link rel="stylesheet" href="{{base_url}}/js/jquery-ui-1.11.4/jquery-ui.min.css" />      
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{base_url}}/css/register.css" />
        <link rel="stylesheet" href="{{base_url}}/css/base.css" />
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		
	
	
    </head>
    <body>
        {% include 'navigation.twig'%}

        <div class="container-fluid">
