{% include 'header.twig' %}
<div id="dsokac_file">

</div>
    {% include 'left_bar_index.twig' %}
<div class="col-md-8 wrapper">
           <div class="col-md-3">
               <div class="row">
                   <div class="drop-popust dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Odaberite mjesto
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu col-md-11">
                            <li><a href="#">Varaždin</a></li>
                            <li><a href="#">Šibenik</a></li>
                        </ul>
                    </div>
               </div>
               <div class="row box">
                    <button type="button" data-filter=".category-1" class="filter col-md-10 btn btn-info"><i class="glyph-icon flaticon-food"></i>&nbsp;&nbsp;Prehrana</button></br>
                    <button type="button" data-filter=".category-2" class="filter col-md-10 btn btn-info"><i class="glyph-icon flaticon-black"></i>&nbsp;&nbsp;Teretana</button></br>
                    <button type="button" data-filter=".category-3" class="filter col-md-10 btn btn-info"><i class="glyph-icon flaticon-cup"></i>&nbsp;&nbsp;Kafić</button></br>
                    <button type="button" data-filter=".category-4" class="filter col-md-10 btn btn-info"><i class="glyph-icon flaticon-scissors"></i>&nbsp;&nbsp;Frizer</button></br>
                    <button type="button" data-filter=".category-5" class="filter col-md-10 btn btn-info"><i class="glyph-icon flaticon-fashion"></i>&nbsp;&nbsp;Zlatarna</button>
                    <button type="button" data-filter="all" class="filter col-md-10 btn btn-info" style="padding:11px 12%;">Svi popusti</button>
                   <a hreh="#" class="info-popust">Kako do ovih popusta?</a>
               </div>
           </div> 
           <div class="col-md-10 box" id="container">
               <div class="row popusti post mix category-5">
                 <div class="col-md-4 img">
                     <img src="page_imgs/mini_logo_v2_2.png">
                 </div> 
                 <div class="col-md-5 discription">
                    <p class="main"><i class="glyph-icon flaticon-web"></i>&nbsp;&nbsp;Frizerski salon Grosh</p>
                    <p class="main"><i class="glyph-icon flaticon-signs"></i>&nbsp;&nbsp;Velimira Škorpika 2a</p>
                    <p class="main"><i class="glyph-icon flaticon-black-1"></i>&nbsp;&nbsp;Popusti za sve IVRA studente</p>
                    <div class="col-md-11 opis">
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse felis turpis, finibus vitae nulla tincidunt, varius blandit neque. Aliquam ut pulvinar nunc. Curabitur </p>
                    </div> 
                 </div>  
                 <div class="col-md-3 col-xs-7">
                    <div class="col-md-12 vrijednost-popust">
                        <h2>10%</h2>                       
                    </div>
                </div>
            </div>

               <div class="row popusti post mix category-4">
                 <div class="col-md-4 img">
                     <img src="page_imgs/mini_logo_v2_2.png">
                 </div> 
                 <div class="col-md-5 discription">
                    <p class="main"><i class="glyph-icon flaticon-web"></i>&nbsp;&nbsp;Frizerski salon Grosh</p>
                    <p class="main"><i class="glyph-icon flaticon-signs"></i>&nbsp;&nbsp;Velimira Škorpika 2a</p>
                    <p class="main"><i class="glyph-icon flaticon-black-1"></i>&nbsp;&nbsp;Popusti za sve IVRA studente</p>
                    <div class="col-md-11 opis">
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse felis turpis, finibus vitae nulla tincidunt, varius blandit neque. Aliquam ut pulvinar nunc. Curabitur </p>
                    </div> 
                 </div>  
                 <div class="col-md-3 col-xs-7">
                    <div class="col-md-12 vrijednost-popust">
                        <h2>10%</h2>                       
                    </div>
                </div>
            </div>

               <div class="row popusti post mix category-2">
                 <div class="col-md-4 img">
                     <img src="page_imgs/mini_logo_v2_2.png">
                 </div> 
                 <div class="col-md-5 discription">
                    <p class="main"><i class="glyph-icon flaticon-web"></i>&nbsp;&nbsp;Frizerski salon Grosh</p>
                    <p class="main"><i class="glyph-icon flaticon-signs"></i>&nbsp;&nbsp;Velimira Škorpika 2a</p>
                    <p class="main"><i class="glyph-icon flaticon-black-1"></i>&nbsp;&nbsp;Popusti za sve IVRA studente</p>
                    <div class="col-md-11 opis">
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse felis turpis, finibus vitae nulla tincidunt, varius blandit neque. Aliquam ut pulvinar nunc. Curabitur </p>
                    </div> 
                 </div>  
                 <div class="col-md-3 col-xs-7">
                    <div class="col-md-12 vrijednost-popust">
                        <h2>10%</h2>                       
                    </div>
                </div>
            </div>
         
               <div class="row popusti post mix category-3">
                 <div class="col-md-4 img">
                     <img src="page_imgs/mini_logo_v2_2.png">
                 </div> 
                 <div class="col-md-5 discription">
                    <p class="main"><i class="glyph-icon flaticon-web"></i>&nbsp;&nbsp;Frizerski salon Grosh</p>
                    <p class="main"><i class="glyph-icon flaticon-signs"></i>&nbsp;&nbsp;Velimira Škorpika 2a</p>
                    <p class="main"><i class="glyph-icon flaticon-black-1"></i>&nbsp;&nbsp;Popusti za sve IVRA studente</p>
                    <div class="col-md-11 opis">
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse felis turpis, finibus vitae nulla tincidunt, varius blandit neque. Aliquam ut pulvinar nunc. Curabitur </p>
                    </div> 
                 </div>  
                 <div class="col-md-3 col-xs-7">
                    <div class="col-md-12 vrijednost-popust">
                        <h2>10%</h2>                       
                    </div>
                </div>
            </div>

               <div class="row popusti post mix category-1">
                 <div class="col-md-4 img">
                     <img src="page_imgs/mini_logo_v2_2.png">
                 </div> 
                 <div class="col-md-5 discription">
                    <p class="main"><i class="glyph-icon flaticon-web"></i>&nbsp;&nbsp;Frizerski salon Grosh</p>
                    <p class="main"><i class="glyph-icon flaticon-signs"></i>&nbsp;&nbsp;Velimira Škorpika 2a</p>
                    <p class="main"><i class="glyph-icon flaticon-black-1"></i>&nbsp;&nbsp;Popusti za sve IVRA studente</p>
                    <div class="col-md-11 opis">
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse felis turpis, finibus vitae nulla tincidunt, varius blandit neque. Aliquam ut pulvinar nunc. Curabitur </p>
                    </div> 
                 </div>  
                 <div class="col-md-3 col-xs-7">
                    <div class="col-md-12 vrijednost-popust">
                        <h2>10%</h2>                       
                    </div>
                </div>
            </div>
    
     
 {% include 'footer.twig'%}