<div class="row">
    <div class="col-sx-12">
        <div class="box">
            <div class="row post_file_container">
                Što vam je na umu?
            </div>
            <form id="post_form">
                <textarea id="post_textarea" placeholder="Napiši status..."></textarea>
                <div class="post_form_btns">
                    <button type="submit" id="submit_post">Objavi</button>
                </div>
            </form>
        </div>
    </div>
</div>
