<div class="">
    <div class="box">
        <form id="post_form">
            <textarea id="post_textarea" placeholder="Napiši status..."></textarea>
            <div class="post_form_btns">
                <button type="submit" id="submit_post">Objavi</button>
            </div>
        </form>
    </div>
</div>
