<div class="row">
    <div class="col-sx-12">
        <div class="box">
            <div class="row post_file_container">
                Što vam je na umu?
            </div>
            <form id="post_form">
                <textarea id="post_textarea" class="tekst-objava" placeholder="Podijeli svoj status..."></textarea>
                <div class="post_form_btns bordertop">
					<div class="col-md-9 pull-left">
					<ul class="post-ikone">
					<li><a href="#"><i class="fa fa-map-marker"></i></a></li>
					<li><a href="#"><i class="fa fa-picture-o"></i></a></li>
					<li><a href="#"><i class="fa fa-video-camera"></i></a></li>
					</ul>
					</div>
					<div class="col-md-3 pull-right norightpadding">
                    <button type="submit" id="submit_post">Objavi</button>
					</div>
                </div>
            </form>
        </div>
    </div>
</div>
