<div class="pumk">
    <div class="user_avatar">
        <img class="img-circle" src="{{user_avatar}}" />
    </div>
    <div class="pumk_name">
        {{user_name}} {{user_surname}}
    </div>
</div>