<div class="form-group row" id="student_type">
    <div class="col-lg-6">
        <label><input type="radio" name="full_time_student" value="1" />Redovni</label>
    </div>
    <div class="col-lg-6">
        <label><input type="radio" name="full_time_student" value="0" />Izvanredni</label>
    </div>
</div>
<div id="register_step1">
    <div class="form-group row">
        <div class="col-lg-12">
            <span class="required">* Obavezno</span>
            <input class="form-control" class="" type="text" placeholder="" name="id" id="id" aria-invalid="true" />
             <span id="idMessage" ></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <span class="required">* Obavezno</span>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                <input class="form-control" type="text" placeholder="Unesi broj mobitela" name="mobile" id="mobile"  />       
            </div>    
            <span  id="mobileMessage" class="glyphicon"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-4">
            <button type="button" class="btn btn-primary btn-lg active" disabled="disabled" id="btnStep1">Dalje</button>
            <span id="part1_form"></span>
        </div>
    </div>
</div>
<div id="register_step2">
    <div class="form-group row">
        <div id="registerCityContainer" class="col-lg-12">
            <span class="required">* Obavezno</span>
            {% include 'registration.select.twig' with {'select_id':'registerCity','array': cities,'select_default_text':'Grad studija'} %}
        </div>
    </div>
    <div class="form-group row">
        <div id="registerUniversityContainer" class="col-lg-12">
            <span class="required">* Obavezno</span>
            {% include 'registration.select.twig' with {'select_id':'registerUniversity','array': universities,'select_default_text':'Visoko učilište'} %}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <span class="required">* Obavezno</span>
            {% include 'registration.select.twig' with {'select_id':'registerCollege','array': colleges,'select_default_text':'Fakultet'} %}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <span class="required">* Obavezno</span>
            <input type="email" class="form-control" placeholder="Unesi e-mail adresu" name="email" id="email" />
            <span id="emailMessage"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <span class="required">* Obavezno</span>
            {% include 'registration.select.twig' with {'select_id':'registerStudyType','array': study_types,'select_default_text':'Vrsta studija'} %}
        </div>
    </div>   
    <div class="form-group row">
        <div class="col-lg-12">
            <span class="required">* Obavezno</span>
            {% include 'registration.select.twig' with {'select_id':'registerSubject','array': subjects,'select_default_text':'Smjer'} %}
        </div>
    </div>   
    <div class="form-group row">
        <div class="col-lg-12">
            <span class="required">* Obavezno</span>
            {% include 'registration.select.twig' with {'select_id':'registerYears','array': years,'select_default_text':'Godina studija'} %}
        </div>
    </div> 
    <div class="form-group row">
        <div class="col-lg-12">
            <span class="required">* Obavezno</span>
            {% include 'registration.select.twig' with {'select_id':'registerHomecity','array': cities,'select_default_text':'Dolazim iz'} %}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            {% include 'registration.select.twig' with {'select_id':'registerDorm','array': dorms,'select_default_text':'Studentski dom'} %}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-primary btn-lg active" disabled="disabled" id="btnStep2">Dalje</button>
        </div>
    </div>
</div>
<div id="register_step3">
    <div class="form-group row">
        <div class="col-lg-12">
            <span class="required">* Obavezno</span>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                 <input class="form-control" type="text" id="birthDate" name="birthDate" placeholder="Datum rođenja" />
            </div>
            <input type="text" id="birthDateReal" name="birthDateReal" hidden="hidden" />
            <span id="birthDateMessage"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <span class="required">* Obavezno</span>    
            <select class="form-control" id="gender" name="gender">
                    <option value="-1">Spol</option>
                    <option value="M">Muški</option>
                    <option value="Ž">Ženski</option>
                </select>
                <span id="genderMessage"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
           <span class="required">* Obavezno</span>
            <input class="form-control" type="text" placeholder="Ime" name="name" id="name" />
            <span id="nameMessage"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <span class="required">* Obavezno</span>
            <input class="form-control" type="text" placeholder="Prezime" name="surname" id="surname" />
            <span id="surnameMessage"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <span class="required">* Obavezno</span>
            <input class="form-control" type="text" placeholder="Tajna riječ" name="secret" id="secret" />
            <span id="secretMessage"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <span class="required">* Obavezno</span>
            <input class="form-control" type="password" placeholder="Lozinka" name="studentPassword" id="studentPassword" />
            <span id="passwordMessage"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <span class="required">* Obavezno</span>
            <input class="form-control" type="password" placeholder="Ponovi lozinku" name="confirmation" id="confirmation" />
            <span id="confirmationMessage"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
           <span class="required" style="display:block;">* Obavezno</span>
            <label><input type="checkbox" name="conditions" id="conditions" /> <span class="radioText">Prihvaćam uvjete korištenja</span></label>
            <span id="conditionsMessage"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-12">
            <input id="btnRegister" type="submit" class="btn btn-primary btn-lg active" value="Registracija" />
        </div>
    </div>
</div>                
  
